* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
}

header, footer {
  background: rgb(51, 51, 51);
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 980px;
  width: 100%;

}

.nodeImage {
  max-height: 75px;
  max-width: 180px;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  overflow: visible;
}

a {
  display: block;
  text-decoration: none;
  padding: 0 16px;
  text-align: center;
  color: #ccc;
}

p {
  font-weight: 400;
  font-stretch: normal;
  font-size: 20px;
  line-height: 1.5;
}

span a {
  display: inline;
  padding: 1px;
  color: rgb(86, 130, 70);
}

.updates p {
  font-size: 130%;
  padding: 10px 15px;
  background: rgba(236, 245, 234);
}

p a {
  color: rgb(50, 106, 29);
}

p a:hover {
  background: rgb(50, 106, 29);
  color: rgb(241, 241, 241);
}

.container h2 {
  text-align: center;
}

.downloadContainer, .otherDownloadsContainer {
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid-container, .otherDownloadsContainer {
  width: 600px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}

.col-1-2 {
  background: rgb(47, 99, 27);
}

.col-1-2 a h2 {
  margin-bottom: 7px;
}

.col-1-2 a {
  color: rgb(255, 255, 255);
  margin-bottom: 7px;
}

.col-1-2:hover {
  background: rgba(47, 99, 27, 0.8);
}
.other{
  width: max-content;
}
.other ul{
  padding-left: 0;
  margin-left: 0;
}
.other li{
  float: left;
  border-right: 1px solid rgb(47, 99, 27);
}

.other li:last-child {
  border-right: none;
}
.other a{
  font-size: 12px;
  padding: 2px auto;
  color: rgb(47, 99, 27);
  float: right;
}
footer{
  color: white;
  font-size: 14px;
}
.grid-row{
  display: grid;
  grid-template-columns:56.6% auto;
  grid-column-gap: 20px;
}
.col-2-3{
  margin-top: 7px;
}
.col-2-3 a{
  text-align: left;
  padding-left: 0;
}
 .col-1-3 ul{
   text-align: left;
   padding-left: 0;
 }
 .col-1-3 ul li a{
   color: rgb(204, 204, 201);
 }
 .footerP p{
   font-size: 14px;
    line-height: 1em;
 }
